* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

#root {
  margin-bottom: 3rem;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  align-items: center;

  position: sticky;
  top: 0;

  padding: 1rem;

  background-color: black;
  
  color: white;
  text-transform: uppercase;
  width: 100%;
  height: 4rem;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-weight: 400;

  z-index: 1;
}

.books {
  display: flex;
  flex-direction: row;
  gap: 6rem 2rem;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  
  overflow: hidden;

  .book {
    position: relative;
  
    border: 0;
    padding: 40px;
  
    width: 330px;

    background-color: #b4b4b422;
  
    &:hover {
      transform: 1.5s ease;
      background-color: #b4b4b444;
    }
  
    .number {
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      top: -10px;
      right: -10px;
  
      width: 60px;
      height: 60px;
      font-size: 30px;
      font-weight: 700;
      color: rgb(255, 255, 255);

      border: 1px #ff9900 solid;
      background-color: #ff9900;
      border-radius: 2rem;
    }
    
    h2 {
      padding: 5px;
  
      font-size: 30px;
      font-weight: 700;
    }
    
    h4 {
      padding: 5px;
  
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.2rem;
      font-weight: 500;
    }
    
    p {
      padding: 5px;
  
      font-size: 16px;
      font-weight: 500;
    }
  }
  
  button {
    display: flex;
    align-items: center;
    background: none;
  
    position: absolute;
    left: 0;
    bottom: -2.3rem;
  
    border: 0;
    padding: 0.7rem;
  
    width: fit-content;
    height: 18px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: #ff9900ab;
    border: 1px #ff9900ab solid;
    border-radius: 0.2rem;
  
    &:hover {
      cursor: pointer;
      transition: 0.5s ease;
      background-color: #ff9900;
      border: 1px #ff9900 solid;
    }
  }
}

@media only screen and (max-width: 370px) {
  .book {
    max-width: 250px;
  }
}